infra_lock_file: /tmp/infmgr.lock

# Cluster to connect to.
pve_cluster: slough

# Current = Determine load based on current resource usage
# Max = Determine load based on maximum assigned resource
method: current

# Maximum allowed imbalance over the cluster, measured in points.
# Decrease this to move VMs more often, increase for larger clusters.
allowed_disparity: 20

# Run multiple migration tasks asynchronously?
async: true

# Separation rules, keep VMs separate.
rules:
  separate:
    - myvm1,myvm2,myvm3
  pin:
    - myvm4:pvenode1
    - myvm5:pvenode2
